extends ../layout

block content
    a(href='/bicicletas') Volver
    br
    br
    br

    h1 Editando Bicicleta

    br
    br
    .container-fluid
        form(action=`/bicicletas/${bike.id}/update` method='post')
            label(for='id') ID:
            input#id(type='text' name='id' value=bike.id)
            br
            label(for='color') Color:
            input#color(type='text' name='color' value=bike.color)
            br
            label(for='modelo') Modelo:
            input#modelo(type='text' name='modelo' value=bike.modelo)
            br
            label(for='latitud') Latitud:
            input#latitud(type='text' name='latitud' value=bike.ubicacion[0])
            br
            label(for='longitud') Longitud:
            input#longitud(type='text' name='longitud' value=bike.ubicacion[1])
            br
            br
            input.btn(type='submit' value='OK')